# ===================
# JWT Tokens
# ===================
NODE_ENV=development
HOST=localhost
PORT=3000
CLIENT_PORT=5173
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# ===================
# Database
# ===================
DB_TYPE=postgres
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
SYNCHRONIZE=false

# ===================
# Database Postgres
# ===================
POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_NAME=
POSTGRES_SYNCHRONIZE=false

# ===================
# Stripe
# ===================
STRIPE_SECRET_KEY=
STRIPE_API_URL=